.landing-body {
    margin-top: 150px;
    margin-left: 400px;
}

/* .card {
    width: 1000px;
    padding: 100px;
} */

.home-card {
    width: 1000px;
    padding: 100px;
    margin-left: -500px;
}

.image-container {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}

.home-image {
    width: 100%;
    height: 900px;
}

.hero-card {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
   
    
}

.hero-text-title{
    margin-top: -260px;
    font-size: 60px;
    font-weight: 600;
    text-align: initial;
}

.text-div{
    width: 800px;
    margin-right: 550px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.9), 6px 6px 100px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.3s ease; 
    
}

.text2-div{
    margin-top: -70px;
    color: aliceblue;
    font-size: 20px;
    padding: 20px;
}

.sec2-title{
   font-size: 70px;
}

.sec2-card-img{
    width: 100%;
    height: 500px;
}

.sec2-card-title{
    margin-top: 10px;
    font-size: 35px;
    padding: 20px;
    font-weight: 700;

}

.sec2{
    background-color: rgb(23, 24, 24);
    color: white;
}

.sec2-card{
    background-color: black;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.9), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.3s ease;
}