
.log-card {
width: 1000px;
padding: 30px;
margin-left: 400px;
}

.login-page {
    
    min-height: 100vh;
    padding: 20px;
    /* background-color: rgb(1, 1, 19); */
    background-color: black;

    
  }

  
  .login-form {
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border-radius: 28px;
    box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.9), 6px 6px 30px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.3s ease; 
    font-size: 30px;
  }
  
  .form-header h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 50px;
  }
  
  .login-form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .login-form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
  }
  
  .login-form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  /* Style for labels to ensure visibility */
  .login-label {
    color: rgba(255, 255, 255, 0.9);
  }
  
  /* Adjust button styles if needed */
  .btn-success, .btn-primary {
    opacity: 0.9;
  }
  
  /* Responsive adjustments */
  @media (max-width: 480px) {
    .login-form {
      padding: 1.5rem;
      margin-top: 100px; /* Adjust top margin for smaller screens */
    }
  }